*.pydevproject
.project
.metadata
[Tt]mp/
[Oo]bj/
[Oo]bj1406/
[Pp]po/
[Pp]po1406/
[Dd]atos/
[Dd]atabase/
[Ff]ont/
[Cc]lient/
[Ii]ss/[Ee]xe/
[Bb]in/[Ii]magen/

*.tmp
*.bak
*.swp
*.res
*.log
*.dbf
*.cdx
*.ntx
*.fpt
*.dbw
*.dbt
*.dll
*.ocx
*.exe
*.caj
*.num
*.ini
*.chr
*.add
*.ai
*.am
*.cfg
*.tds
*.chr
*.nil
*.usr
*.txt
*.map
*.lic
*.zip
*.rar
*.adt
*.$$$
*.dmp
*.ppo
*.csv
*.db

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
bin/script/AlbaranesClientes/REDUR.prg
