*.pydevproject
.project
.metadata
[Tt]mp/
[Oo]bj/
[Oo]bj1406/
[Pp]po/
[Pp]po1406/
[Dd]atos/
[Ff]ont/
[Cc]lient/
[Ii]ss/[Ee]xe/

*.tmp
*.bak
*.swp
*.res
*.log
*.dbf
*.cdx
*.fpt
*.dbw
*.dbt
*.dll
*.ocx
*.exe
*.caj
*.num
*.ini
*.chr
*.add
*.ai
*.am
*.cfg
*.tds
*.chr
*.nil
*.usr
*.txt
*.map
*.lic
*.zip
*.rar
*.adt
*.$$$
*.dmp
*.ppo

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
