#------------------------------------------------------------------------------#
#  AUTOR.....: Manuel Expósito Suárez   Soft4U 2002-2012                       #
#  CLASE.....: demo.cnf                                                        #
#  FECHA MOD.: 01/10/2017                                                      #
#  VERSION...: 7.00                                                            #
#  PROPOSITO.: Ejemplo simple de configuracion para este programa              #
#------------------------------------------------------------------------------#

[server]
basedir=./share
datadir=./data
language=./share/spanish
character-sets-dir=./share/charsets
log_error=./share/logs/error.log
log=./share/logs/mysqld.log
skip-innodb

[client]
language=./share/spanish