#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#ifdef _CE
        #include "c:\vce\include\arm\windows.h"
        #include "c:\vce\include\arm\commctrl.h"
#endif

10 BITMAP "..\\bmp\\OkCancel.bmp"
20 BITMAP "..\\bmp\\Inicio.bmp"
30 BITMAP "..\\bmp\\OkExit.bmp"
40 BITMAP "..\\bmp\\btnbar.bmp"
60 BITMAP "..\\bmp\\btnbar2.bmp"
70 BITMAP "..\\bmp\\prntexit.bmp"
80 BITMAP "..\\bmp\\zoomexit.bmp"
90 BITMAP "..\\bmp\\menucobro.bmp"
100 BITMAP "..\\bmp\\btnbar3.bmp"
110 BITMAP "..\\bmp\\btnbar4.bmp"
120 BITMAP "..\\bmp\\chgokcancel.bmp"
130 BITMAP "..\\bmp\\btnbar5.bmp"
140 BITMAP "..\\bmp\\btnbar6.bmp"
150 BITMAP "..\\bmp\\btnbar7.bmp"
160 BITMAP "..\\bmp\\btnbar10.bmp"

100 RCDATA
{
     100, 3,
     0, 110, TBSTATE_ENABLED, TBSTYLE_BUTTON, 301, 0, 0,
     0, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     1, 120, TBSTATE_ENABLED, TBSTYLE_BUTTON, 302, 0, 0
}

100 MENU DISCARDABLE
{
    MENUITEM "", 110
    MENUITEM "", 120
}

130 RCDATA
{
     130, 3,
     0, 140, TBSTATE_ENABLED, TBSTYLE_BUTTON, 501, 0, 0,
     0, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     1, 150, TBSTATE_ENABLED, TBSTYLE_BUTTON, 502, 0, 0
}

130 MENU DISCARDABLE
{
    MENUITEM "", 140
    MENUITEM "", 150
}

160 RCDATA
{
     130, 3,
     0, 170, TBSTATE_ENABLED, TBSTYLE_BUTTON, 601, 0, 0,
     0, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     1, 180, TBSTATE_ENABLED, TBSTYLE_BUTTON, 602, 0, 0
}

160 MENU DISCARDABLE
{
    MENUITEM "", 170
    MENUITEM "", 180
}

190 RCDATA
{
     130, 3,
     0, 191, TBSTATE_ENABLED, TBSTYLE_BUTTON, 701, 0, 0,
     0, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     1, 192, TBSTATE_ENABLED, TBSTYLE_BUTTON, 702, 0, 0
}

190 MENU DISCARDABLE
{
    MENUITEM "", 191
    MENUITEM "", 192
}

200 RCDATA
{
     200, 5,
     0, 210, TBSTATE_ENABLED, TBSTYLE_BUTTON, 201, 0, 0,
     0, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     1, 220, TBSTATE_ENABLED, TBSTYLE_BUTTON, 202, 0, 0
     1, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     2, 230, TBSTATE_ENABLED, TBSTYLE_BUTTON, 203, 0, 0
}

200 MENU DISCARDABLE
{
    MENUITEM "", 210
    MENUITEM "", 220
    MENUITEM "", 230
}

240 RCDATA
{
     200, 5,
     0, 250, TBSTATE_ENABLED, TBSTYLE_BUTTON, 801, 0, 0,
     0, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     1, 260, TBSTATE_ENABLED, TBSTYLE_BUTTON, 802, 0, 0
     1, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     2, 270, TBSTATE_ENABLED, TBSTYLE_BUTTON, 803, 0, 0
}

240 MENU DISCARDABLE
{
    MENUITEM "", 250
    MENUITEM "", 260
    MENUITEM "", 270
}

280 RCDATA
{
     200, 5,
     0, 281, TBSTATE_ENABLED, TBSTYLE_BUTTON, 601, 0, 0,
     0, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     1, 282, TBSTATE_ENABLED, TBSTYLE_BUTTON, 804, 0, 0
     1, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     2, 283, TBSTATE_ENABLED, TBSTYLE_BUTTON, 803, 0, 0
}

280 MENU DISCARDABLE
{
    MENUITEM "", 281
    MENUITEM "", 282
    MENUITEM "", 283
}

290 RCDATA
{
     200, 5,
     0, 291, TBSTATE_ENABLED, TBSTYLE_BUTTON, 805, 0, 0,
     0, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     1, 292, TBSTATE_ENABLED, TBSTYLE_BUTTON, 301, 0, 0
     1, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     2, 293, TBSTATE_ENABLED, TBSTYLE_BUTTON, 302, 0, 0
}

290 MENU DISCARDABLE
{
    MENUITEM "", 291
    MENUITEM "", 292
    MENUITEM "", 293
}

300 RCDATA
{
     300, 9,
     0, 310, TBSTATE_ENABLED, TBSTYLE_BUTTON, 201, 0, 0,
     0, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     1, 320, TBSTATE_ENABLED, TBSTYLE_BUTTON, 202, 0, 0
     1, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     2, 330, TBSTATE_ENABLED, TBSTYLE_BUTTON, 203, 0, 0
     2, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     3, 340, TBSTATE_ENABLED, TBSTYLE_BUTTON, 204, 0, 0
     3, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     4, 350, TBSTATE_ENABLED, TBSTYLE_BUTTON, 205, 0, 0
}

300 MENU DISCARDABLE
{
    MENUITEM "", 310
    MENUITEM "", 320
    MENUITEM "", 330
    MENUITEM "", 340
    MENUITEM "", 350
}

STRINGTABLE DISCARDABLE
{
   201 ""
   202 ""
   203 ""
   204 ""
   205 ""
   206 ""
   207 " "
   301 "Aceptar"
   302 "Cancelar"
   401 "Salir"
   501 "Acerca de"
   502 "Salir"
   601 "Zoom"
   602 "Salir"
   701 "Imprimir"
   702 "Salir"
   801 "Cobro"
   802 "Editar"
   803 "Salir"
   804 "Ordenar"
   805 "Marcar"
}

400 RCDATA
{
     400, 1,
     0, 410, TBSTATE_ENABLED, TBSTYLE_BUTTON, 401, 0, 0,
}

400 MENU DISCARDABLE
{
    MENUITEM "", 410
}

500 MENU DISCARDABLE
{
    MENUITEM "", 510
    MENUITEM "", 520
    MENUITEM "", 530
    MENUITEM "", 540
    MENUITEM "", 550
}

500 RCDATA
{
     500, 11,
     0, 510, TBSTATE_ENABLED, TBSTYLE_BUTTON, 201, 0, 0,
     0, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     1, 520, TBSTATE_ENABLED, TBSTYLE_BUTTON, 202, 0, 0
     1, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     2, 530, TBSTATE_ENABLED, TBSTYLE_BUTTON, 203, 0, 0
     2, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     3, 540, TBSTATE_ENABLED, TBSTYLE_BUTTON, 204, 0, 0
     3, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     4, 550, TBSTATE_ENABLED, TBSTYLE_BUTTON, 205, 0, 0
     4, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     5, 560, TBSTATE_ENABLED, TBSTYLE_BUTTON, 206, 0, 0
}

600 MENU DISCARDABLE
{
    MENUITEM "", 610
    MENUITEM "", 620
    MENUITEM "", 630
    MENUITEM "", 640
    MENUITEM "", 650
}

600 RCDATA
{
     600, 15,
     0, 610, TBSTATE_ENABLED, TBSTYLE_BUTTON, 205, 0, 0,
     0, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     1, 620, TBSTATE_ENABLED, TBSTYLE_BUTTON, 205, 0, 0
     1, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     2, 630, TBSTATE_ENABLED, TBSTYLE_BUTTON, 205, 0, 0
     2, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     3, 640, TBSTATE_ENABLED, TBSTYLE_BUTTON, 205, 0, 0
     3, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     4, 650, TBSTATE_ENABLED, TBSTYLE_BUTTON, 205, 0, 0
     4, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     5, 660, TBSTATE_ENABLED, TBSTYLE_BUTTON, 205, 0, 0
     5, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     6, 670, TBSTATE_ENABLED, TBSTYLE_BUTTON, 205, 0, 0
     6, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     7, 680, TBSTATE_ENABLED, TBSTYLE_BUTTON, 205, 0, 0

}

700 MENU DISCARDABLE
{
    MENUITEM "", 710
    MENUITEM "", 720
    MENUITEM "", 730
    MENUITEM "", 740
}

700 RCDATA
{
     700, 7,
     0, 710, TBSTATE_ENABLED, TBSTYLE_BUTTON, 201, 0, 0,
     0, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     1, 720, TBSTATE_ENABLED, TBSTYLE_BUTTON, 202, 0, 0
     1, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     2, 730, TBSTATE_ENABLED, TBSTYLE_BUTTON, 203, 0, 0
     2, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     3, 740, TBSTATE_ENABLED, TBSTYLE_BUTTON, 204, 0, 0
}

800 MENU DISCARDABLE
{
    MENUITEM "", 810
    MENUITEM "", 820
    MENUITEM "", 830
}

800 RCDATA
{
     800, 5,
     0, 810, TBSTATE_ENABLED, TBSTYLE_BUTTON, 201, 0, 0,
     0, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     1, 820, TBSTATE_ENABLED, TBSTYLE_BUTTON, 202, 0, 0
     1, 105, TBSTATE_ENABLED, TBSTYLE_SEP, -1, 0, 0,
     2, 830, TBSTATE_ENABLED, TBSTYLE_BUTTON, 203, 0, 0
}